button {
    margin: 0;
    border: none;
    color: var(--clr-black-border);
    font-weight: bolder;
    background-color: var(--clr-red-m);
    padding: 0.3rem;
    border-radius: 0.2rem;

    box-shadow: 0px 0px 3px 0px black;
}

.filterContainer{
    margin-top: 3rem;
}

.filterContainer > div {
    border-bottom: solid 3px var(--clr-black-border);
    margin-block: 1rem;
    padding-bottom: 2rem;
}

.filterContainer > div:last-child {
    border-bottom: none;
}

/* search by name */

.filterBySearch input {
    margin-block: 1rem;
    width: 80%;
}

/*filter by ibu*/
.ibu {
    width: max-content;
}

.ibu h5 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
    word-wrap: break-word;
}
.ibu label{
    word-wrap: break-word;
}

.ibu input {
    width: 6ch;
    display: block;
    background-color: var(--clr-black-border);
    border-color: var(--clr-black-border);
    box-shadow: 0px 0px 3px 0px darkgray;
    border-radius: 0.2rem;
    color: white;
    margin-block: 0.7rem;
}

.ibu button {
    margin: 1rem 0;
    border: none;
    color: var(--clr-black-border);
    font-weight: bolder;
    background-color: var(--clr-red-m);
    padding: 0.2rem;
    border-radius: 0.2rem;

    box-shadow: 0px 0px 3px 0px black;
}

@media screen and (max-width:800px) {
    .filterContainer {
        width: 90vw;
        margin-left:-2.2rem;
        padding:0px;
    }

    .filterContainer > div {
        border-right: solid 3px var(--clr-black-border);
        border-bottom: none;
        margin-block: 0;
        padding: 0;
        padding-bottom: 0;
        width: 30%;
        
    }

    .filterContainer div h5 {
        font-size: 1rem;
    }

    .filterContainer div button {
        margin: 0;
    }
    
    .filterContainer > div:first-child {
        border-right: none;
        padding-right: 0;
    }
}