.header {
    display: flex;
    justify-content: center;
    padding: 1.5em; 

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: beige;
}

.active {
    text-decoration: underline;
    color: darkred;
}

a{
    text-decoration: none;
    color: black;
}