.burgerMenuContainer {
    padding: 2.2rem 2.2rem 2.2rem 0;
}

.middleLine, .middleLine::before, .middleLine::after {
    background-color: var(--clr-red-m);
    height: 3px;
    width: 2rem;
    border-radius: 2em;
    z-index: 1000;
}

.middleLine{
    position: relative;
}

.middleLine::before {
    content: '';
    position: absolute;
        top: 0.5rem;
}

.middleLine::after {
    content: '';
    position: absolute;
        bottom: 0.5rem;
}

.content {
    text-align: left;
    max-width: max-content;
    max-height: max-content;
    background-color: hsl(var(--clr-purple-VO), 0.9);
    padding: 5rem 2rem 1.5rem 4rem;
    position: absolute;
     top:0rem;
     left: 12vw;
    border-bottom-right-radius: 2em;
}