.burgerMenuContainer {
    position: fixed;
        top: 0;
        left: 0;
    padding: 2.2rem;
/*     border: 1px solid red; */
}

.middleLine, .middleLine::before, .middleLine::after {
    background-color: black;
    height: 3px;
    width: 25px;
    border-radius: 2em;
    z-index: 1000;
}

.middleLine{
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.middleLine::before {
    content: '';
    position: fixed;
    top: 1.4rem;
    left: 1rem;
}

.middleLine::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    left: 1rem;
}

.content {
    text-align: left;
    max-width: max-content;
    max-height: max-content;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
        top:0;
        left: 0;

    padding: 3rem 2rem 1rem 3rem;
    border-bottom-right-radius: 2em;
}