.backdrop {
    width: 1000vw;
    height: 1000vh;
    background-color: rgba(0, 0, 0, 0.5);

    position:fixed;
        top: 0;
        left: 0;
}

.modal {
    background-color: antiquewhite;
    border-radius: 2em;
    height: auto;
    max-width: 65vw;
    padding: 2rem;
    overflow: hidden;

    position: fixed;
        top: calc(10rem + 50%);
        left: 50%;
    transform: translate(-50%, -20%);
}